WebSoftMast_02/DataSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="row">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TrainNumber" type="xs:string" />
							<xs:element name="TrainIndexCombined" type="xs:string" />
							<xs:element name="FromStationName" type="xs:string" />
							<xs:element name="ToStationName" type="xs:string" />
							<xs:element name="LastStationName" type="xs:string" />
							<xs:element name="WhenLastOperation" type="xs:string" />
							<xs:element name="LastOperationName" type="xs:string" />
							<xs:element name="InvoiceNum" type="xs:string" />
							<xs:element name="PositionInTrain" type="xs:unsignedByte" />
							<xs:element name="CarNumber" type="xs:unsignedInt" />
							<xs:element name="FreightEtsngName" type="xs:string" />
							<xs:element name="FreightTotalWeightKg" type="xs:unsignedInt" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>